<!DOCTYPE html>

<html ng-app="EmployeeApp">
<body>

    <div class="container" ng-controller="EmployeeController">
        <br />
        <div class="panel panel-info">
            <div class="panel-heading">FUNCIONÁRIOS CADASTRADOS</div>
            <br />
            <button type="button" class="btn btn-info" data-target="#saveEmployee" data-toggle="modal">Adicionar Nova</button>
            <br />
            <div ng-if="Employees.length == 0 ">
                <h3 align="center">Não Existem Funcionários Cadastrados</h3>
            </div>

            <div ng-if="Employees.length > 0">
                <table class=" table table-striped ">
                    <thead>
                        <tr>
                            <th>CÓDIGO FUNCIONÁRIO</th>
                            <th>NOME</th>
                            <th>CPF</th>
                            <th>EMPRESA</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="employee in Employees">
                            <td>{{employee.Id}}</td>
                            <td>{{employee.Name}}</td>
                            <td>{{employee.Cpf}}</td>
                            <td>{{employee.CompanyId}}</td>
                            <td>
                                <button type="button" data-target="#updateEmployee" data-toggle="modal" class="btn btn-info" ng-click="updateEmployeeId(employee)">Editar</button>
                                <a href="#" data-target="#deleteEmployee" data-toggle="modal" ng-click="deleteEmployeeId(employee)" class="btn btn-danger">Remover</a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


            <!--Cria diálogo para salvar um novo funcionário-->
            <div class="modal" id="saveEmployee" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="text-info">Adicione Novo Funcionário</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="adicionarFuncionario">
                                <div class="form-group">
                                    <input class="form-control" readonly="readonly" name="id" type="hidden" placeholder="Id Funcionario" />
                                </div>

                                <div class="form-group" align="center">
                                    <input type="text" class="form-control" name="Nome Funcionario" ng-model="name" placeholder="Nome Funcionario" />
                                </div>

                                <div class="form-group" align="center">
                                    <input type="text" class="form-control" name="Cpf" ng-model="cpf" placeholder="Cpf" />
                                </div>

                                <div class="form-group" align="center">
                                    <input type="text" class="form-control" name="Telefone" ng-model="phone" placeholder="Telefone" />
                                </div>

                                <div class="form-group" align="center">
                                    <select name="selected" id="selected" ng-model="company" ng-options="company.Name for company in Companies ">
                                        <option value="">Selecione uma Empresa</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" ng-click="clearFields()">Cancelar</button>
                            <button type="button" class="btn btn-success" id="btnSave" data-dismiss="modal" ng-click="saveEmployee()">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="updateEmployee" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="text-info">Edite Funcionario</h3>
                        </div>
                        <div class="modal-body">
                            <form class="form-horizontal" name="editarFuncionario">
                                <div class="form-group">
                                    <input class="form-control" readonly="readonly" name="id" type="hidden" placeholder="Id Funcionario" ng-model="id" />
                                </div>

                                <div class="form-group" align="center">
                                    <input type="text" class="form-control" name="Nome Funcionario" ng-model="employeeName" placeholder="Nome Funcionario" />
                                </div>

                                <div class="form-group" align="center">
                                    <input type="text" class="form-control" name="Cpf" ng-model="employeeCpf" placeholder="Cpf" />
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" ng-click="clearFields()">Cancelar</button>
                            <button type="button" class="btn btn-success" id="btnUpdate" data-dismiss="modal" ng-click="updateEmployee()">Salvar</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal" id="deleteEmployee" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h3 class="text-info">Você tem Certeza que Deseja Remover este Funcionário?</h3>
                        </div>
                        <div class="modal-body">
                            <div>
                                <p>Código do Funcionário: {{employeeId}}</p>
                                <p>Nome da Empresa: {{employeeName}}</p>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-default" data-dismiss="modal" ng-click="clearFields()">Não</button>
                            <button type="button" class="btn btn-danger" id="btnDelete" data-dismiss="modal" ng-click="deleteEmployee(employeeId)">Sim</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/angular")

    <script src="~/Scripts/AngularApp/Employee/Module.js"></script>
    <script src="~/Scripts/AngularApp/Employee/Controller.js"></script>
    <script src="~/Scripts/AngularApp/Employee/Service.js"></script>

</body>
</html>
