@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align="center">GEA PARKING</h1>
    <p align="center" class="lead">Conheça um pouco do Nosso Trabalho.</p>
</div>

<div align="center">
    <div>
        <img src="~/Views/Home/Image/parking.png" alt="Imagem de página não encontrada" width="330" height="202" />
    </div>
</div>